body {
    background-color: white;
}

.border {
    margin: 0 auto;
    padding-top: 43px;
    border: 3px solid #256634;
    border-radius: 10px;
    width: 689px;
    margin-bottom: 22px;
}

.divisionLine {
    height: 1px;
    border: 0;
    background-color:#EEEEEE;
    width: 1287px;
}


.header {
    display: grid;
    grid-template-columns: repeat(3, 429px);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
    margin-bottom: 8px;
}

.logoutBtn{
    color: white;
    border-style: solid;
    border-color: #256634;
    border-radius: 10px;
    background-color: #256634;
    padding: 5px 5px;
    margin-left: 365px;
    margin-top: 10px;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 20vw));
    grid-template-rows: repeat(3, minmax(max-content, 1fr));
    justify-content: center;
}

.inputLabel {
    margin-bottom: 14px;
    display: grid;
    text-align: right;
    font-size: 18px;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
}

.inputTxt {
    margin-bottom: 14px;
    font-size: 18px;
    padding: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: bisque;
    border-color: #256634;
}

.inputTxt:focus {
    outline: none;
}

#signUpBtn {
    margin-top: 43px;
    margin-bottom: 14px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    background-color: #256634;
    color: white;
    font-weight: bold;
}

.find_idPw {
    text-align: center;
    margin-bottom: 22px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
    margin-bottom: 8px;
}

.footerLogoImg {
    grid-column: 1 / 2;
    margin-left: 120px;
}

.footerCopyRightText {
    grid-column: 2 / 3;
    text-align: center;
    padding-left: 10px;
    margin-top: 3px;
    font-size: 13px;
    color: #909090;
}

